@media (max-width: 1200px) {

}
@media (max-width: 991px) {}
@media (max-width: 767px) {
    .promo {
        &__wrapper {
           padding-right: 15px;
        }
    }
    .benefits{
        padding: 46px 0 45px;
        &__title {
            font-size: 25px;
            margin-bottom: 35px;
        }
        &__wrapper{
            flex-direction: column;
        }
        &__item {
            margin-right: 0;
            margin-bottom: 25px;
        }
    }
    .title_left {
        font-size: 27px;
        text-align: center;
    }
    .consultation {
        padding: 60px 10px 43px;
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 26px;
    }
    .caroulsel {
        &__inner {
            img {
                width: 83%;
            }
        }
    }
}
@media (max-width: 575px) {
    .header {
        flex-direction: column;
        &__logo {
            margin-bottom: 15px;
        }
        &__official {
            margin-bottom: 15px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader{
            font-size: 20px;
        }
    }
     .catalog {
         &__tabs {
             flex-direction: column;
             align-items: center;
             justify-content: center;
         }
         .catalog__tab {
             margin-bottom: 15px;
         }
         .catalog__content {
             margin-top: 20px;
         }
     }
}

@media (max-width: 425px) {
    .promo {
        background: url(../../img/bg.png) left (center/cover) no-repeat;
        padding: 21px 0 53px;
        &__header {
            text-align: center;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        &__icon {
            margin-bottom: 25px;
        }
    }
    .button_main {
        margin-top: 20px;
    }
}