.title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #0D0D0D;
    margin-bottom: 60px;

    &_left {
     color: #FFFFFF;
     font-size: 36px;
     text-align: left;
    }

}